* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #181717;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 32px;
}

.container>h1 {
    text-align: center;
    margin-bottom: 16px;
    color: rgb(0, 157, 255);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 16px;
    padding: 12px 16px;
    display: flex;
    gap: 6px;

    background-color: #2e2e2e;
    border-radius: 6px;
}

.input-wrapper input {
    background-color: #2e2e2e;
    border: none;
}

.input-wrapper input:focus {
    outline: transparent;
}

.input-wrapper div {
    margin-bottom: 8px;
}

label {
    color: #d8d8d8;
    font-weight: 600;
}

.input-wrapper>#register-btn {
    align-self: center;
}

#register-btn {
    font-size: 16px;
    font-weight: bold;
    background-color: #151515;
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.save-btn {
    padding: 4px;
    background-color: #484848;
    border: none;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #6b6a6a;
}

button:focus {
    outline: transparent;
}

input {
    padding-inline: 4px;
    width: 210px;
    font-size: 16px;
    background-color: #151515;
    border: none;
}

input:focus {
    outline: none;
}

.event-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
    padding-inline: 4px;
}

.event-wrapper-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.trash-btn {
    border: none;
    background-color: transparent;
}

.trash-btn:hover {
    cursor: pointer;
}

.trash-btn i,
.fa-trash-can {
    color: #fd4f4f;
    font-size: 1.2rem;
}

.no-events {
    font-size: 14px;
    text-align: center;
    opacity: 0.5;
    display: none;
}

.no-events.active {
    display: block;
}